body {
    margin: 50%;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    position: static;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 165vh;
    border-radius: 15px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.logo button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #ff66c4;
    border-radius: 5px;
}

.section {
    padding: 40px 20px;
}

.section img {
    max-width: 100%;
    height: auto;
}

.home-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.home-section img {
    max-width: 33%;
    height: 33%;
}


.mission-section {
    text-align: center;
}

.mission-section p {
    max-width: 800px;
    margin: 0 auto 20px;
}

.mission-section img {
    width: 30%;
    height: 50%;
    margin: 10px;
}

.donate-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

a {
    color: #ff66c4;
    border-radius: 25px;
}

p {
    background-color: white;
    border-radius: 25px;
    padding: 25px;
}

h2 {
    background-color: #ff66c4;
    color: white;
    border-radius: 15px;
    padding: 25px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #ff66c4;
    border-radius: 25px;
    padding: 25px;
    color: white;
}

body {
    background-image: url('modern-white-gradient-banner-with-abstract-shapes-vector.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; /*Fixed during scrolling*/
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 10px 175px 175px; /* Add padding to the body (top, right/left, bottom) */
}
